



# Ignore Smart Connections folder
.smart-connections



# Ignore Smart Environment folder
.smart-env

1.Projects/
1.Projects/이력서 관리
1.Projects/이력서 관리/새 이력서.md
/.smtcmp_vector_db.tar.gz
/.smtcmp_json_db/chats